@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Unsere erste Webseite!!! Wie viel Uhr ist es? @DateTime.Now</p>
</div>
